.buy-page-container{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
.btn-increase-quantity{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  
    cursor: pointer;
}
.btn-descrease-quantity{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  
    cursor: pointer;
}
.product-quantity-text{
    font-size: 30px;
    margin: 10px;
    font-weight: bold;
}
.buy-product-image{
    width: 300px;
    border-radius: 15px;
    background-color: #fff;
    margin: 10px;
}
.input-shipping-address{
    margin-top: 20px;
    width: 50%;
    height: 40px;
    display: block;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
